@import 'assets/styles/_constants.scss';
@import 'assets/styles/_mixins.scss';

#topbar {
  @include default-shadow;
  @include default-transition;
  @include flex-start;
  position: fixed;
  top: 0;
  left: $sidebar-width;
  right: 0;
  background-color: $primary-dark;
  padding: $size-lg;
  height: calc(#{$topbar-height} - #{$size-xl});
  z-index: 1000;

  @media screen and (max-width: $screen-lg) {
    left: $sidebar-width-small;
  }

  @media screen and (max-width: $screen-md) {
    top: $sidebar-height-small;
    left: 0;
  }

  > div {
    margin-right: $size-lg;
    color: $secondary-light;
    font-weight: bold;

    span {
      font-size: $font-sm;
      color: $white;
      font-weight: 100;
    }
  }
}
