@import 'assets/styles/_constants.scss';
@import 'assets/styles/_mixins.scss';

#sidebar {
  @include default-shadow;
  @include flex-column;
  height: 100vh;
  width: calc(#{$sidebar-width} - #{$size-xl});
  background-color: $primary;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1001;
  padding: 0 $size-lg;

  h1 {
    margin: $size-lg 0;
    .custom-button {
      @include flex-center;
      color: $white;
      font-size: $font-title;
      font-weight: 100;
      padding: 0;
    }
  }

  .custom-input {
    margin-bottom: $size-lg;
    &.filled:not(.focused) {
      label {
        color: $white;
      }
    }
  }

  .custom-button {
    align-self: flex-end;
  }
}
